.createBtn {
  background: linear-gradient(#c71d12, #680b05);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.createBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(220, 53, 69, 0.4);
  color: white;
}
